/* CSS Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
img {
    height: 100%;
  }
  /* Navigation Bar */
  .nav-bar{
    /* background-color: antiquewhite; */
    height:20vh;
    padding: 1vh 12vh 0 10vh;
    display: flex;
    justify-content: space-between;
    
  }

  .nav-bar-list{
    list-style: none;
    color:black ;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .nav-bar-list>li{
    margin-right: 25px;
    display: flex;
    color: white;
  }
  .nav-bar-list>li:last-child{
    margin-right: 10px;
  }
  .nav-bar-drop-menu{
    height: 5px;
    margin-left: 2px;
  }
  
  /*Hero*/

  .hero {
    background: url("./images/slide11.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .hero>img{
    height: 10vh;
    width: 5vw;
  }
  .hero-paragraph{
    align-self: center;
    font-size: 8vh;
    font-weight: bolder;
    text-align: center;
  }
  /* Foundations */
  .foundations{
    background-color: #c1c1c1;
  }
  .foundations-heading{
    font-size: 30px;
    padding-top: 4vh;
    padding-bottom: 4vh;
    color: black;
  }
  .foundations-boxes{
    display: flex;
    justify-content: space-around;
  }
  .foundations-box{
    height: 82vh;
    background-color: white;
    width: 18%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: flex-start;
    text-align: center;
  }
  .foundations-box>div{
    margin-top: 20px;
  }

  .foundations-box>div:last-child{
    margin-top: 15px;
    padding-left: 20%;
    padding-right: 20%;
    color: #413d3d;
    font-weight: bolder;
    font-size: 17px;
  }
  .foundations-boxes-images{
    width: 20vh;
    height: 15vh;
  }
  /* Explore */
  .explore{
    background: url(./images/parallax-4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
  }
  

  .explore-heading{
    padding-top:5%;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
 
  .explore-center-image{
    padding-top:5%;
    height: 60%;
    width: 50%;
  }
  /* Join */

  .join-heading{
    color: black;
    padding-top: 8vh;
    font-size: 30px;
  }
  .join-image{
    height: 60vh;
    width: 30vw;
  }
  .join-explainations{
    margin-top: 8vh;
    display: flex;
    justify-content: space-between;
  }
  .join-explainations>div:last-child{
    margin-right: 2vw;
  }
  .join-box{
    width: 15vw;
    font-size: 13px;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
    margin-right: 10px;
    height: 85vh;
    flex-direction: column;
    padding-top: 30px;
    border-radius: 5px;
  }
  .join-box-heading{
    padding-top: 30px;
  }
  .style-image-list{
    list-style-image: url(./images/bullet5.png);
  }
  .style-image-list>li{
    text-align: start;
    margin-top: 15px;
    color:#413d3d ;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
  } 
  .style-image-list>li:last-child{
    text-align: start;
    padding-top: 15px;
    list-style-image:none;
    width: 15vw;
    list-style: none;
  } 
  .download-app-section{
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-right: 20px;
  }
  .download-app-section-image{
    margin-top: 20px;
    height: 6vh;
    width: 10vw;
  }
  .download-app-section-images{
    margin-bottom: 50px;
  }
  .download-app-section-images>img:first-child{
    margin-right: 20px;
  }
  /* Hub */
  .hub{
    margin-top: 20px;
    width: 100%;
    height: 66vh;
    background: url("./images/parallax-light.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: start;
    color: #fff;
    position: relative;
    justify-content: space-between; 
  }
  .hub-heading{
    color: black;
    padding-top: 40px;
    padding-bottom:40px;
    font-weight: bolder;
    font-size: 30px;
  }
  .hub-boxes{
    display: flex;
    justify-content: space-evenly;
  }
  .hub-box{
    
    width: 10vw;
    height: 15vh;
  }
  .hub-box>img{
    
    width: 8vw;
    height: 15vh;
  }
  .hub-box>p{
    font-size: 40px;
    text-align: center;
    margin-top: 20px;
  }
  .hub-box>h2{
    text-align: center;
    color: black;
    margin-top: 30px;
    font-size: 16px;
  }
  .shadow-first{
    -webkit-text-stroke-width: 1px;
    color: transparent;
    -webkit-text-stroke-color: #009a9e;
  }
  .shadow-second{
    -webkit-text-stroke-width: 1px;
    color: transparent;
    -webkit-text-stroke-color: #e13870;;
  }
  .shadow-third{
    -webkit-text-stroke-width: 1px;
    color: transparent;
    -webkit-text-stroke-color: #0078be;
  }
  .shadow-forth{
    -webkit-text-stroke-width: 1px;
    color: transparent;
    -webkit-text-stroke-color: #00802d;
  }
  /* Blog */
  .blog{
    background: url("./images/bg-icon-empty.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    position: relative;
    background-color: #effaff;
  }
  .blog-heading{
    color: black;
    text-align: center; 
    padding-top: 30px;
    padding-bottom: 20px;
    font-weight: bolder;
    font-size:35px;
  }
  .blog-boxes{
    display: flex;
    justify-content: space-around;
  }
  .blog-box{
    background-color: white;
    height: 66vh;
    width: 25vw;
    border-radius: 3px;
  }
  .blog-box>img{
    cursor: pointer;
    height: 35vh;
    width: 25vw;
  }
  .blog-box>h3{
    cursor: pointer;
    text-align: start;
    padding: 5vh 3vh 3vh 2vh;
  }
  .blog-box>h5{
    color:#646464;
    text-align: start;
    padding: 2vh 4vh 2vh 2vh;
  }
  .blog-box>h5:last-child{
    text-align: start;
    padding: 0vh 4vh 2vh 2vh;
  }
  .btn-blog{
    margin-top: 7vh;
    margin-bottom: 7vh;
  }
  /* Program */
  .program{
    width: 100%;
    height: 50vh;
    background: url("./images/parallax-7.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: start;
    color: #fff;
    position: relative;
    justify-content: space-between; 
  }
  .program-container{
    display: flex;
  }
  .program-container-1{
    width: 40%;
    height: 30vh;
    padding: 5vh 0vh 2vh 15vh;
  }
  .program-container-1>img{
    height: 15vh;
    width: 15vh;
  }
  .program-container-1>p{
    font-size: 20px;
  }
  .program-container-2{
    text-align: center;
    padding: 5vh 0vh 2vh 15vh;
    width: 50%;
    height: 30vh;
    display: flex;
    justify-content: space-between;
    
  }
  .program-container-2-box{
    height: 30vh;
  }
  .program-container-2-box>img{
    height: 12vh;
    width: 8vw;
  }
  .program-container-2-box>p{
    color: white;
    margin-top: 20px;
    font-size: 18px;
    font-weight: border;
  }
  /* Testimonial */
  .testimonial{
    height: 50vh;
    width: 100%;
    background: url("./images/bg-icon-reverse.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    position: relative;
    background-color: #effaff;
  }
  .testimonial-containers{
    display: flex;
  }
  .testimonial-container-1{
    width: 50%;
    height: 50vh;
  }
  .testimonial-container-1>h1{
    font-weight: bolder;
    font-size: 30px;
    padding: 10vh 0vh 20vh 10vw;
  }
  .testimonial-container-2{
    margin-top: 10vh;
    display: flex;
    width: 50%;
    height: 50vh;
    align-content: center;
  }
  .testimonial-container-2-box{
    height: 25vh;
    padding:10px 10px 10px 20px;
    margin-left: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: #646464;
    border-radius: 20px;
  }
  .testimonial-container-2-box>img{
    height: 14vh;
    width: 6vw;
  }
  .testimonial-container-2-box>h3{
    margin-top: 10px;
    font-size: 16px;
  }
  /*Footer*/
  .footer{
    background-color: #292b2c;
    width: 100%;
    height: 90vh;
    padding: 5vh 20vh 10vh 20vh;
  }
 
  .footer-top{
    display: flex;
    justify-content: space-between;
  }
  
  .footer-box{
    margin-top: 20px;
  }
  
  .footer-box>h3{
    color:#b6b6b6;
    text-transform: uppercase;
    font-weight: 600;
  }

  .footer-box>p{
    color:#646464;
    font-weight: 600;
  }
  .links{
    list-style: none;
  }
  
  .links>li{
    padding-left: 10px;
    color: white;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .footer-bottom{
    margin-top: 10vh;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10vh;
  }
  .footer-last-line-end{
    color:#0275d8;
  }
  .footer-last-line-start{
    color: #646464;
  }
  .footer-socail-media{
    display: flex;
  }
  .footer-socail-media>li{
    width: 4vh;
    height: 4vh;
    margin-left: 2vw;
    color: #0275d8;
    cursor: pointer;
  }

  .footer-parag-1{
    margin-top: 5vh;
  }
  .footer-parag-2{
    margin-top: 8vh;
  }
  .btn-footer-email{
    margin-bottom: 1vh;
  }
  .input-footer-email{
    border: none;
    height: 5vh;
    background-color: #292b2c;
    caret-color: white;
  }
  .hr-footer-email{
    margin-top: 1vh;
    height: 1px;
    background-color: #0275d8;;
    border: none;
  }
  .footer-resize{
    width: 7vh;
    height: 7vh;
  }

  .flex{
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  .flex>img{
    margin-top: 3vh;
  }
  .flex>p{
    margin-top: 3vh;
    color: white;
    margin-left: 2vw;
  }
  .footer-app{
    margin-top: 2vh;
    color:#646464;
  }
  .flex>h5{
    margin-top: 10px;
    color: white;
    margin-left: 10px;
  }
  .flex>h5:first-child{
    color: white;
    margin-left: 0px;
  }
  
  /* Utilises */
 
  .container {
    width: 100%;
    height: 100vh;
  }
  

  .btn{
    padding: 3vh 5vh 3vh 5vh;
    color: white;
    font-weight: bolder;
    border:none;
    background-color: #0078BE;
    border-radius: 30px;
    cursor: pointer;
  }
  .pointer{
    cursor: pointer;
  }
  
  .black{
    color: black;
  }
  .bold{
    font-weight: bolder;
  }
  

